<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission: This app needs internet access (for API calls, image loading, etc.) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cookify">

        <!-- Login Screen (not directly launchable by itself) -->
        <activity
            android:name=".controllers.LoginActivity"
            android:exported="false" />

        <!-- Signup Screen (also not directly launchable) -->
        <activity android:name=".controllers.SignupActivity"
                  android:exported="false" />

        <!-- Home Screen (only accessible after login/signup) -->
        <activity android:name=".controllers.HomeActivity"
            android:exported="false" />

        <!-- Substitute Screen (only accessible after login/signup) -->
        <activity android:name=".controllers.SubstituteActivity"
            android:exported="false" />

        <!-- Browse Recipe Screen (only accessible after login/signup) -->
        <activity android:name=".controllers.BrowseActivity"
            android:exported="false" />

        <!-- Recipe Details Screen -->
        <activity android:name=".controllers.RecipeDetailsActivity"
            android:exported="false" />

        <!-- Pantry Screen -->
        <activity android:name=".controllers.PantryActivity"
            android:exported="false" />


        <!-- Splash Screen (this is the first screen user sees when app launches) -->
        <activity
            android:name=".controllers.SplashActivity"
            android:exported="true">

            <!-- Marks this Activity as the entry point of the app -->
            <intent-filter>

                <!-- MAIN = starting point -->
                <action android:name="android.intent.action.MAIN" />

                <!-- LAUNCHER = show app icon in phone’s app drawer -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>